

// Colors
$yellow_bg: #FDF7E2;
$yellow_primary:#928C38; 

 

// Fonts
$Menu_font:           "Roboto Condensed",serif;
$content_font:         "Cinzel",  Arial, sans-serif;
$heading_font:         "Courgette", sans-serif;

$primary-font:        $content_font;
$secondary-font:      $Menu_font;
$last-font:           $heading_font;

// Spacing
$mobile-space:        10px;
$desktop-space:       35px;
$font_size : 15px;
